<!DOCTYPE html>
<html>
  <head>
    <title>RailsSimpleAirbnb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand">Simple Airbnb</a>
        <form class="d-flex">
          <button class="btn btn-outline-success" type="submit"><%= link_to "Add Flat", new_flat_path %></button>
        </form>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
